<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5>The email "<%= @order.email %>" was used.</h5>
  </div>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% total_amount = 0 %>
      <% line_items = LineItem.where(order_id: @order.id) %>
      <% line_items.each do |item| %>
        <% total_amount += item.total_price %>
        <%= render 'item', item: item  %>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= total_amount %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <% if current_user %>
    <% UserMailer.order_receipt(current_user.first_name, current_user.email, @order, total_amount).deliver_now %>
  <% elsif %>
    <% UserMailer.order_receipt("customer", "kvirani@gmail.com", @order, total_amount).deliver_now %>
  <% end %>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
